<h3>Welcome, <%= current_user.username%>!</h3>
<h3>These are Your Bucket Lists</h3>

<% @lists.each do |list| %>
  <ul class="list">
    <li><a href="/lists/<%=list.id%>" class="link_color"><%= list.name %></a></li>
  </ul>

  <% end %>

  <div>
    <a href="/lists/new" class="action">Create A New List</a>
  </div>
