<form class="form-container" action="/lists" method="POST">
  <div class="form-title"><h1>Create a Bucket List</h1></div>
  <div class="form-title">Name Your List</div>
  <input class="form-field" type="text" name="name"><br>

  <div class="submit-container">
    <input class="submit-button" type="submit" value="Submit">
  </div>
</form>
