<h1><%= @list.name %></h1>
<h3>Goals in Your List</h3>

<% @list.goals.each do |goal| %>
  <ol>
    <li><a href="/goals/<%=goal.id%>"><%= goal.name %></a></li>
  </ol>
<% end %>

<div>
  <a href="/goals/new" class="action">Add a Goal to Your List</a>
  <a href="/lists/<%=@list.id%>/edit" class="action">Edit Your List Name</a>
</div>
