<h1>Welcome to Your Yearly Bucket List</h1>
<h3>Keep track of all your adventures and experiences in one place.</h3>
<br>
<div id="inner">
  <ul>
    <li><a href="/login"><button type="button" class="btn">Log In</button></a></li>

    <li><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Don't have an account? <a href="/signup"><button type="button" class="btn">Sign Up!</button></a></h4></li>
  </ul>
</div>
