<h3>Welcome to Your Yearly Bucket List</h3>
<h5>Keep track of all your adventures and experiences in one place</h5>

<h6><a href="/login">Log In</a></h6>
<h6>Don't have an account? <a href="/signup">Sign Up!</a></h6>
